*{box-sizing: border-box;}
html,body { height:100%;}

body{
    margin:0;
    font: 16px/1.5 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
}

.navbar {    
    position: fixed;
    top: 0;
}

.navbar-container{
    padding-left: 40px;
    background-color: #00489b;
    padding-bottom: 2px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-btn{
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    box-shadow: 1.5px 1.5px 1px rgb(0, 121, 233, 0.8);
    padding: 10px 12px;
    margin-top: 14px;
    margin-right: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav-btn2{
    font-size: 20px;
    padding-bottom: 4px;
    margin-right: 8px;
    margin-left: -20px;
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    box-shadow: 1.5px 1.5px 1px rgb(0, 121, 233, 0.8);
    border-radius: 8px;
    border-style: none;
}

.nav-btn:hover{
    background-color: rgba(81, 206, 255, 0.7);
}

.header{
    font: 20px/1.5 "Arial";
    align-content: center;
    text-align: center;
    background-image: url(../img/1491559.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 1000px;
    padding-top: 60px;
    top:0; z-index: 50;
    color: rgb(215, 215, 215);
}

.info {
    font: 16px/1.5 "Arial";
    padding-left: 8px;
}

.kontakt {
    font: 16px/1.5 "Arial";
    padding-left: 8px;
}

/* Prosjekter */

.navbar-container2 {
    padding-left: 10px;
    background-color: #00489b;
    padding-bottom: 2px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header2 {
    font: 16px/1.5 "Arial";
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 40%;
    margin-top: 100px;
    max-width: 250px;
}

.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}

.container {
    padding: 2px 16px;
    background-color: rgb(214, 214, 214);
}